{% extends "base.twig" %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block cadastro %}
    <form method="post" action="cad-usuario.php">
        <fieldset>
            <label for="nameField">Cadastrar Usu치rio</label>
            {% if editar %}
                <input type="text" name="nome" value="{{editar.nome}}">
                <input type="email" name="email" value="{{editar.email}}">  
                <!--<input type="text" name="api" placeholder="API Key">-->                      
                <input type="hidden" name="id" value="{{editar.id}}">
            {% else %}
                <input type="text" name="nome" placeholder="Nome do Usu치rio">
                <input type="email" name="email" placeholder="Email do Usu치rio">  
                <input type="password" name="senha" placeholder="Senha do Usu치rio">
                <!--<input type="text" name="api" placeholder="API Key">-->                      
            {% endif %}
            <input class="button-primary" type="submit" {% if editar %} value="Editar" name='editar' {% else %} value="Cadastrar" name='cadastrar'{% endif %}>
        </fieldset>
    </form>
{% endblock %}

{% block lista %}
    {% if usuarios %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.email }}</td>
                        <td><a class="button button-small" href="cad-usuario.php?edite={{  usuario.id }}">Editar</a></td>
                        <td><a class="button button-small" href="cad-usuario.php?delete={{ usuario.id }}">Deletar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}